.bottom_main_page{


  background-color: rgb(20, 89, 8);
 text-align: center;
 padding-bottom: 28.5px;
  
  
}
.contact_us{font-size: 50px;}
.bottom_text1,.contact_us{
  font-size: 27px;
  font-weight: bold;
  color: white;
  padding-top: 17px;
  margin-bottom: 10px;
}
.bottom_text2{
  font-size: 17px;
  color: beige;
  padding-top: 15px;

}
.phone,.mail{
  color: beige;
  display: inline;
  margin: 100px;
}
.phone_span{
  color: rgb(60, 246, 79);
  margin-right: 10px;
}
.mail_span{
  color: rgb(212, 26, 26);
  margin-right: 10px;
  
}