.heading_main{
  background-color:rgb(20, 89, 8);
  border-radius: 30px;
  margin: 3px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display:flex;
  flex-direction:row ;
  justify-content: space-between;

}
.img_logo{
  max-width: 270px;
  max-height: 55px;
  border-radius: 10px;
 
}

.Workouts,.Healthy{
padding: 10px;
border: 0;
border-radius: 20px;
margin: 5px;
color: rgb(0, 0, 0);
font-weight: bold;

}


.left_heading_main{
  display:flex;
  align-items: center;

}


.search_main{
max-width: 250px;
max-height: 35px;
margin-top: 17px;
margin-right: 10px;
padding: 10px;
}
.profil_icon{
  max-width: 40px;
  max-height: 40px;
  border-radius:20px;
  margin-top: 10px;
  margin-right: 10px;
}
